.arrow {
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    justify-content: center;
    &-icon {
        height: 20px;
        display: inline-flex;
        flex-direction: row;
        margin-left: 10px;    
    }
    &-icon.white {
        margin-left: 0;   

    }
}
.arrow.white {
    justify-content: left;
}