.Recipes {
  display: flex;
  padding: 150px 0px 150px 20px;
  position: relative;
  height: 938px;
  &__counter {
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: $black;
    margin-bottom: 125px;
    display: block;
  }
  &__title {
    max-width: 413px;
    margin-bottom: 61px;
  }
  &__texts {
    max-width: 263px;
  }
  &__text {
    &:not(:last-child) {
      margin-bottom: 26px;
    }
    &:last-child {
      font-weight: initial !important;
    }
  }
  &__view {
    position: absolute;
    right: 0px;
    top: 150px;
    width: 55%;
    height: 641px;
    overflow: hidden;
  }
  &__images {
    display: flex;
    width: calc(100% * 5);
    height: 100%;
    transition: .3s ease-in-out;
  }
  &__image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  &__buttons {
    position: absolute;
    display: flex;
    bottom: 0px;
    left: 0px;
  }
  &__button {
    &:first-child {
      background: $white;
      svg {
        transform: rotate(180deg);
      }
    }
    &:hover {
      &:first-child {
        background: $black;
      }
    }
  }
}