.Header {
  width: 100vw;
  position: fixed;
  top: 0;
  padding: 0px 20px;
  z-index: 10;
  transition: .3s ease;
  &--active {
    background: $white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    .Header__wrapper {
      height: 96px !important;
    }
  }
  &__wrapper {
    transition: .3s ease;
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__container {
    display: flex;
    align-items: center;
  }
  &__brand {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    color: $black !important;
    margin-right: 112px;
    &:after {
      content: ".";
      color: $brand;
    }
  }
  &__items {
    display: flex;
	}
	&__item {
		&:not(:last-child) {
			margin-right: 53px;
		}
	}
	&__link {
		font-size: 15px;
		line-height: 1.87;
    color: $MediumGrey;
    transition: .3s ease;
    &:hover {
      color: $brand;
    }
	}
	&__burger {
		width: 48px;
		height: 48px;
		display: flex;
		flex-direction: column;
		align-items: center;
    justify-content: center;
    background: $white;
    transition: .2s ease;
		&:before {
			content: '';
			background: $black;
			width: 22px;
			height: 2px;
      margin-bottom: 5px;
      transition: .2s ease;
		}
		&:after {
			width: 22px;
			content: '';
			background: $black;
      height: 2px;
      transition: .2s ease;
    }
    &:hover {
      transform: scale(1.1);
      &:before,
      &:after {
        transform: scale(0.8);
      }
    }
	}
}
